[user]
    email = ikigai@ikigai.fail
    name = ikigai
[init]
    defaultBranch = master
[core]
    editor = vim
    pager = delta
[diff]
    tool = vimdiff
[difftool]
    prompt = false
[delta]
    features = line-numbers decorations
    line-numbers = true
[alias]
    a  = add
    c = commit
    cm = commit -m
    d = diff
    dc = diff --cached
    l = log --oneline
    m = merge
    p = push
    pf = push --force-with-lease
    r = reset --mixed HEAD~1
    rh = reset --hard HEAD~1
    rs = restore
    rst = restore --staged
    release = !sh -c 'git tag $1 && git push && git push --tags'
    s = status
    st = stash
    stp = stash pop
    sw = switch
    swc = switch -c
[status]
    short = true
[merge]
    tool = vimdiff
    conflictstyle = diff3
[mergetool]
    promt = false
